*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}
*::after,
*::before{
    box-sizing: inherit;
}

nav{
    padding:1rem 2rem;
    background-color: hsl(120,10%, 50%);
    border-bottom: 1rem solid hsl(120,80%, 10%);
    font-size: 2rem;
}
nav a{
    text-decoration: none;
    color: hsl(120,100%, 100%);
    font-weight: 100;
    padding-right: 5rem;
}
nav a#link1{
    text-decoration:underline;
}

html{
    padding: 1rem 2rem;
    font-size: 16px;
    font-family: 'ariel', 'helvetica', sans-serif;
    line-height: 1.5;
}

header{
    padding:1rem 2rem;
    text-shadow: 0.2rem 0.2rem hsl(120,10%, 50%);
    font-size: 2rem;
    background-image: url(../img/img01.jpg);
    background-size: cover;
/*    min-height: 400px;*/
    background-repeat: no-repeat;
}

header h1{
    color: hsl(120,50%, 50%);
    padding-bottom: 1rem;
}

header h2{
    color:hsl(120,50%, 50%);
}
main{
    padding:1rem 2rem;
}
main p{
    font-size: 1rem;
    padding-bottom: 1rem;
    font-weight: 100;
}
main h1{
    color: hsl(120,50%, 50%);
    font-size: 3rem;
    padding-bottom: 2rem;
}

main h2{
    color: hsl(120,50%, 50%);
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

main ul{
        padding-left: 1rem;
}

main ul li{
    font-size: 1rem;
    font-weight: 100;
    padding-bottom: 1rem;

}
section{
    padding:1rem 2rem;
}
aside{
    padding:1rem 2rem;
}
footer{
    padding:1rem 2rem;
}